@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
p {
  font-size: 16px;
  line-height: 30px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

body {
  height: 100000px;
  background-color: #212428;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

button a {
  text-decoration: none;
}

p {
  font-size: 16px;
  color: #C4CFDE;
}

.prm_button {
  cursor: pointer;
  padding: 18px;
  background-color: #212428;
  border: none;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.prm_button a {
  font-size: 16px;
  font-weight: bolder;
  color: #C4CFDE;
}

.prm_button:hover {
  transform: translateY(-5px);
  background: linear-gradient(to right bottom, #212428, #16181c);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.sec_title_fast {
  padding-right: 50px;
}
.sec_title_fast .sec_sub_head {
  color: #FF013E;
  font-weight: normal;
  text-transform: uppercase;
}
.sec_title_fast .sec_main_head {
  margin: 10px 0px;
  font-size: 60px;
  color: #C4CFDE;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 10000000;
  background-color: #212428;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 15px 0px;
}
header nav .navbar_brend a {
  display: flex;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
}
header nav .navbar_brend a img {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border: 3px solid rgb(255, 255, 255);
  margin-right: 10px;
  width: 50px;
  height: 52px;
}
header nav .manus {
  display: flex;
  align-items: center;
  padding: 0;
}
header nav .manus .nav_item .nav_link {
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  font-weight: 300;
  margin-left: 15px;
}
header nav .manus .nav_item .nav_link:hover {
  color: #FF013E;
}

.banner_container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 100px 0px;
  align-items: center;
  justify-content: space-between;
}
.banner_container .ban_art_ceontainer {
  max-width: 60%;
}
.banner_container .ban_art_ceontainer .ban_title_fast {
  padding-right: 50px;
}
.banner_container .ban_art_ceontainer .ban_title_fast .ban_sub_head {
  color: #FF013E;
  text-transform: uppercase;
}
.banner_container .ban_art_ceontainer .ban_title_fast .ban_main_head {
  margin: 10px 0px;
  font-size: 60px;
  color: white;
}
.banner_container .ban_sec {
  margin-top: 50px;
  display: flex;
}
.banner_container .ban_sec .soicl_ti {
  color: #C4CFDE;
  font-weight: normal;
  text-transform: uppercase;
}
.banner_container .ban_sec .prm_button a {
  color: white;
}
.banner_container .ban_sec .prm_button i {
  color: white;
}
.banner_container .ban_profile {
  padding-left: 20px;
  max-width: 40%;
}
.banner_container .ban_profile .img {
  padding: 0;
  position: relative;
}
.banner_container .ban_profile .img .hidden_bac {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 19%;
  background-color: #202327;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  z-index: 1;
}
.banner_container .ban_profile .img img {
  padding: 0;
  position: relative;
  z-index: 10;
  max-width: 100%;
}

.what_i_do {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0px;
}
.what_i_do .fe_cards {
  display: flex;
  justify-content: space-between;
}
.what_i_do .fe_cards .fe_card {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 320px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 31%;
  padding: 30px;
  background-color: #202327;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.what_i_do .fe_cards .fe_card .more i {
  font-size: 25px;
  height: 0px;
  margin-top: 0px;
  color: #FF013E;
  opacity: 0;
}
.what_i_do .fe_cards .fe_card .card_icon {
  font-size: 40px;
  color: #FF013E;
}
.what_i_do .fe_cards .fe_card .card_head {
  font-size: 24px;
  text-transform: capitalize;
  color: #C4CFDE;
  margin: 15px 0px;
}
.what_i_do .fe_cards .fe_card:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}
.what_i_do .fe_cards .fe_card:hover .more i {
  opacity: 1;
  margin-top: 20px;
  height: 25px;
}

.protfolio {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0px;
}
.protfolio .sec_title_fast {
  margin-bottom: 50px;
  text-align: center;
}
.protfolio .port_cards {
  display: flex;
  justify-content: space-between;
}
.protfolio .port_cards .port_card {
  overflow: hidden;
  cursor: pointer;
  margin-top: 50px;
  width: 31%;
  padding: 30px;
  background-color: #202327;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.protfolio .port_cards .port_card:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}
.protfolio .port_cards .port_card:hover .img img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.protfolio .port_cards .port_card:hover .iteml_card_link:hover {
  margin: 10px 0px;
}
.protfolio .port_cards .port_card:hover .iteml_card_link:hover i {
  color: #FF013E;
  font-size: 20px;
}
.protfolio .port_cards .port_card:hover .iteml_card_link:hover a {
  color: #FF013E;
}
.protfolio .port_cards .img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.protfolio .port_cards .img img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  max-width: 100%;
}
.protfolio .port_cards .port_card_desc .iteml_card_link {
  margin: 10px 0px;
}
.protfolio .port_cards .port_card_desc .iteml_card_link i {
  font-size: 0px;
}
.protfolio .port_cards .port_card_desc .iteml_card_link a {
  color: #C4CFDE;
}
.protfolio .port_cards .port_card_desc .detail {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 10px 0px;
}
.protfolio .port_cards .port_card_desc .detail .item {
  text-transform: capitalize;
  color: #C4CFDE;
  font-size: 14;
}
.protfolio .port_cards .port_card_desc .detail .loves {
  color: #FF013E;
  font-size: 14;
}

.client_princ {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0px;
}
.client_princ .clents {
  max-width: 50%;
  padding-right: 50px;
}
.client_princ .clents .brends_card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.client_princ .clents .brends_card .brend_card {
  overflow: hidden;
  cursor: pointer;
  margin-top: 30px;
  width: 46%;
  padding: 30px;
  background-color: #202327;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.client_princ .clents .brends_card .brend_card .img {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.client_princ .clents .brends_card .brend_card .img img {
  max-width: 100%;
  height: 200px;
}
.client_princ .clents .brends_card .brend_card .brend_name {
  border-top: 1px solid #191B1E;
  padding-top: 20px;
  text-transform: capitalize;
  text-align: center;
  color: #C4CFDE;
  font-weight: 400;
}
.client_princ .clents .brends_card .brend_card:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}
.client_princ .prinching {
  max-width: 50%;
  padding-left: 50px;
}
.client_princ .prinching .prinching_card {
  margin-top: 60px;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  background-color: #202327;
}
.client_princ .prinching .buttons {
  width: 100%;
  display: flex;
}
.client_princ .prinching .buttons button {
  width: 100%;
}
.client_princ .prinching .article {
  padding: 50px;
}
.client_princ .prinching .article .note {
  text-align: center;
  padding-top: 20px;
}
.client_princ .prinching .article .prm_button {
  width: 100%;
}
.client_princ .prinching .article .fetures {
  padding: 20px 0px;
}
.client_princ .prinching .article .fetures ul li {
  line-height: 45px;
  font-size: 18px;
  color: #C4CFDE;
}
.client_princ .prinching .article .fetures ul li i {
  padding-right: 5px;
}
.client_princ .prinching .article .prize_nam .prize_val {
  padding: 10px 20px;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  font-size: 30px;
  font-weight: bold;
  color: #FF013E;
  background: linear-gradient(to right bottom, #212428, #16181c);
}
.client_princ .prinching .article .prize {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 15px 0px;
}
.client_princ .prinching .article .prize_head {
  color: #C4CFDE;
}
.client_princ .prinching .prm_button:hover {
  transform: translateY(0px);
  background: linear-gradient(to right bottom, #212428, #16181c);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.contact_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0px;
}
.contact_container .sec_title_fast {
  text-align: center;
}
.contact_container .con_des {
  display: flex;
  justify-content: space-between;
}
.contact_container .con_des .con_des_card {
  color: #C4CFDE;
  margin-top: 50px;
  max-width: 35%;
  box-sizing: border-box;
  padding-right: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #202327;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  padding: 30px;
}
.contact_container .con_des .con_des_card .img {
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact_container .con_des .con_des_card .img img {
  max-width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact_container .con_des .con_des_card .con_des_con h3 {
  line-height: 30px;
  margin: 5px 0px;
  font-weight: 500;
  color: #C4CFDE;
}
.contact_container .con_des .con_des_card .con_des_con h3 a {
  color: rgba(196, 207, 222, 0.3411764706);
}
.contact_container .con_des .con_des_card .con_des_con h3 a:hover {
  color: #FF013E;
  text-decoration: underline;
}
.contact_container .con_des .con_des_card .con_des_con p {
  font-size: 18px;
}
.contact_container .con_des .con_des_card .con_des_con h1 {
  color: #C4CFDE;
  margin: 15px 0px;
}
.contact_container .con_des .con_des_card:hover .img img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.contact_container .form {
  margin-top: 50px;
  color: #C4CFDE;
  margin-left: 50px;
  box-sizing: border-box;
  padding: 30px;
  background: #202327;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  width: 100%;
  max-width: 65%;
}
.contact_container .form form .inp {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.contact_container .form form input, .contact_container .form form textarea {
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #191B1E;
  background-color: #191B1E;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}
.contact_container .form form input:focus, .contact_container .form form textarea:focus {
  outline: 2px solid #FF013E;
  box-shadow: none;
}
.contact_container .form .nam_fon {
  display: flex;
  justify-content: space-between;
}
.contact_container .form .nam_fon .nam {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.resume_container {
  padding: 100px 0px;
  max-width: 1280px;
  margin: 0 auto;
}
.resume_container .sec_title_fast {
  text-align: center;
}
.resume_container .resume_content {
  display: flex;
  justify-content: space-between;
}
.resume_container .edu, .resume_container .Exp {
  width: 50%;
  margin-top: 80px;
}
.resume_container .edu .sec_title_fast, .resume_container .Exp .sec_title_fast {
  text-align: left;
}
.resume_container .edu .sec_title_fast .sec_main_head, .resume_container .Exp .sec_title_fast .sec_main_head {
  font-size: 40px;
  box-sizing: border-box;
}
.resume_container .edu {
  margin-right: 50px;
}
.resume_container .Exp {
  margin-left: 50px;
}
.resume_container .res_card {
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 50px;
  padding: 30px;
  background-color: #202327;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
}
.resume_container .res_card .desc {
  padding: 20px 0px;
}
.resume_container .res_card .desc p {
  color: rgba(196, 207, 222, 0.5568627451);
}
.resume_container .res_card .detail {
  border-bottom: 1px solid #16181c;
  padding-bottom: 30px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.resume_container .res_card .detail .title h5 {
  color: rgba(196, 207, 222, 0.5137254902);
}
.resume_container .res_card .detail .title h1 {
  padding: 20px 0px;
  margin-bottom: 5px;
  color: #C4CFDE;
  font-size: 25px;
}
.resume_container .res_card .detail .rate {
  font-weight: 400;
  color: #FF013E;
  background-color: #212428;
  padding: 10px 15px;
  box-shadow: 15px 15px 25px #1c1e22, -15px -15px 25px rgba(38, 42, 46, 0.7882352941);
  cursor: pointer;
}
.resume_container .res_card:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}

.profetionan_skills {
  display: flex;
  justify-content: space-between;
}
.profetionan_skills .design_skill, .profetionan_skills .develop {
  width: 50%;
  margin-top: 80px;
}
.profetionan_skills .design_skill .sec_title_fast, .profetionan_skills .develop .sec_title_fast {
  text-align: left;
}
.profetionan_skills .design_skill .sec_title_fast .sec_main_head, .profetionan_skills .develop .sec_title_fast .sec_main_head {
  font-size: 40px;
  box-sizing: border-box;
}
.profetionan_skills .design_skill {
  margin-right: 50px;
}
.profetionan_skills .develop {
  margin-left: 50px;
}
.profetionan_skills .skills .skill_item {
  margin-top: 30px;
}
.profetionan_skills .skills .skill_item .skill_det {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  color: rgba(196, 207, 222, 0.5019607843);
}
.profetionan_skills .skills .skill_item .skill_prg {
  margin-top: 20px;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #191B1E;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}/*# sourceMappingURL=style.css.map */