// ======================common csss===========================================

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin transition($value) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

@mixin transform-scale($value) {
    transform: scale($value);
    -webkit-transform: scale($value);
    -moz-transform: scale($value);
    -ms-transform: scale($value);
    -o-transform: scale($value);
}

@mixin transform-rotate($value) {
    transform: rotate($value);
    -webkit-transform: rotate($value);
    -moz-transform: rotate($value);
    -ms-transform: rotate($value);
    -o-transform: rotate($value);
}

@mixin border-radious($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}

$body-color:#212428;
$box-color:#202327;
$grdiannt-color:#16181c;
$monsatret:"Montserrat",
sans-serif;
$text-color: #C4CFDE;
$input-bg:#191B1E;
$golapi :#FF013E;

$box_shdow: 15px 15px 25px #1c1e22,
-15px -15px 25px #262a2ec9;

p {
    font-size: 16px;
    line-height: 30px;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    @include transition(.5s);
}

body {

    background-color: $body-color;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    li {
        list-style: none;

        a {
            text-decoration: none;
        }
    }
}

button {
    a {
        text-decoration: none;
    }
}

p {
    font-size: 16px;
    color: $text-color;
}

.prm_button {
    cursor: pointer;

    a {
        font-size: 16px;
        font-weight: bolder;
        color: $text-color;
    }

    padding: 18px;
    background-color: $body-color;
    border: none;
    box-shadow: $box_shdow;
    @include border-radious(5px);
}

.prm_button:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right bottom, #212428, #16181c);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}


.sec_title_fast {
    padding-right: 50px;

    .sec_sub_head {
        color: #FF013E;
        font-weight: normal;
        text-transform: uppercase;
    }

    .sec_main_head {

        margin: 10px 0px;
        font-size: 60px;
        color: $text-color;
    }
}


// ========== headear section start ==========

header {
    position: fixed;
    width: 100vw;
    z-index: 10000000;
    background-color: #212428;
    box-shadow: $box_shdow;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1280px;
        padding: 15px 0px;

        .navbar_brend {
            a {
                display: flex;
                align-items: center;
                font-size: 30px;
                text-transform: uppercase;
                color: white;
                font-weight: bolder;

                img {
                    @include border-radious(100px);
                    border: 3px solid rgb(255, 255, 255);
                    margin-right: 10px;
                    width: 50px;
                    height: 52px;
                }
            }

        }

        // manuss start

        .manus {
            display: flex;
            align-items: center;
            padding: 0;

            .nav_item {

                .nav_link {
                    text-transform: uppercase;
                    font-size: 13px;
                    color: white;
                    font-weight: 300;
                    margin-left: 15px;
                }

                .nav_link:hover {
                    color: #FF013E;
                }
            }
        }

    }
}

// ========== headear section start ==========


.banner_container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 200px 0px 100px 0px;
    align-items: center;
    justify-content: space-between;

    .ban_art_ceontainer {

        max-width: 60%;

        .ban_title_fast {
            padding-right: 50px;

            .ban_sub_head {
                color: #FF013E;

                text-transform: uppercase;
            }

            .ban_main_head {

                margin: 10px 0px;
                font-size: 60px;
                color: white;
            }
        }
    }

    .ban_sec {
        margin-top: 50px;
        display: flex;

        .soicl_ti {


            color: $text-color;
            font-weight: normal;
            text-transform: uppercase;
        }

        .prm_button {
            a {
                color: white;
            }

            i {
                color: white;
            }
        }
    }

    .ban_profile {

        padding-left: 20px;
        max-width: 40%;

        .img {
            padding: 0;
            position: relative;

            .hidden_bac {
                position: absolute;

                height: 80%;
                width: 100%;
                top: 19%;
                background-color: $box-color;
                box-shadow: $box_shdow;
                z-index: 1;
            }

            img {
                padding: 0;
                position: relative;
                z-index: 10;
                max-width: 100%;
            }

        }
    }
}

//  what i do secton

.what_i_do {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0px;

    .fe_cards {
        display: flex;
        justify-content: space-between;

        .fe_card {
            @include transition(.8s);

            .more {

                i {
                    font-size: 25px;
                    height: 0px;
                    margin-top: 0px;
                    color: $golapi;

                    opacity: 0;
                }
            }

            cursor: pointer;
            display: flex;
            align-items: center;
            height: 320px;

            .card_icon {

                font-size: 40px;
                color: $golapi;
            }

            @include border-radious(5px);

            .card_head {
                font-size: 24px;
                text-transform: capitalize;
                color: $text-color;
                margin: 15px 0px;

            }

            width: calc(33% - 2%);
            padding: 30px;
            background-color: $box-color;
            box-shadow: $box_shdow;
            box-sizing: border-box;
            @include border-radious(5px);
        }

        .fe_card:hover {
            .more {

                i {
                    opacity: 1;
                    margin-top: 20px;
                    height: 25px;
                }
            }

            background: linear-gradient(to right bottom, #212428, #16181c);
        }
    }
}



.protfolio {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0px;

    .sec_title_fast {
        margin-bottom: 50px;
        text-align: center;
    }

    .port_cards {
        display: flex;
        justify-content: space-between;

        .port_card {
            overflow: hidden;
            cursor: pointer;
            margin-top: 50px;
            width: calc(33% - 2%);
            padding: 30px;
            background-color: $box-color;
            box-shadow: $box_shdow;
            box-sizing: border-box;
            @include border-radious(10px);
        }

        .port_card:hover {
            .img {
                img {
                    @include transform-scale(1.1);

                }
            }

            .iteml_card_link:hover {
                i {
                    color: $golapi;
                    font-size: 20px;
                }

                margin: 10px 0px;

                a {
                    color: $golapi;
                }
            }

            background: linear-gradient(to right bottom, #212428, #16181c);
        }

        .img {
            @include border-radious(10px);
            overflow: hidden;

            img {
                @include border-radious(10px);
                max-width: 100%;
            }
        }

        .port_card_desc {
            .iteml_card_link {
                i {
                    font-size: 0px;
                }

                margin: 10px 0px;

                a {
                    color: $text-color;
                }
            }

            .detail {
                display: flex;
                justify-content: space-between;
                padding: 15px 0px 10px 0px;

                .item {
                    text-transform: capitalize;
                    color: $text-color;
                    font-size: 14;
                }

                .loves {

                    color: $golapi;
                    font-size: 14;
                }
            }
        }
    }
}


//  clients and prinching 

.client_princ {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0px;

    .clents {
        max-width: 50%;
        padding-right: 50px;

        .brends_card {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .brend_card {
                .img {
                    display: flex;
                    justify-content: center;
                    padding: 20px 0px;

                    img {
                        max-width: 100%;
                        height: 200px;
                    }
                }

                .brend_name {
                    border-top: 1px solid #191B1E;
                    padding-top: 20px;
                    text-transform: capitalize;
                    text-align: center;
                    color: #C4CFDE;
                    font-weight: 400;
                }

                overflow: hidden;
                cursor: pointer;
                margin-top: 30px;
                width: calc(50% - 4%);
                padding: 30px;
                background-color: $box-color;
                box-shadow: $box_shdow;
                box-sizing: border-box;
                @include border-radious(10px);
            }

            .brend_card:hover {
                background: linear-gradient(to right bottom, #212428, #16181c);

            }
        }
    }

    .prinching {

        .prinching_card {
            margin-top: 60px;
            box-shadow: $box_shdow;
            background-color: $box-color;

        }

        .buttons {
            width: 100%;

            button {
                width: 100%;
            }

            display: flex;
        }

        .article {
            .note {
                text-align: center;
                padding-top: 20px;
            }

            .prm_button {
                width: 100%;
            }

            .fetures {
                padding: 20px 0px;

                ul {
                    li {
                        line-height: 45px;

                        i {
                            padding-right: 5px;
                        }

                        font-size: 18px;
                        color: #C4CFDE;
                    }
                }
            }

            padding: 50px;

            .prize_nam {
                .prize_val {
                    padding: 10px 20px;
                    box-shadow: $box_shdow;
                    font-size: 30px;
                    font-weight: bold;
                    color: #FF013E;
                    background: linear-gradient(to right bottom, #212428, #16181c);
                }

            }

            .prize {
                justify-content: space-between;
                align-items: center;
                display: flex;
                padding: 15px 0px;
            }

            .prize_head {

                color: $text-color;

            }

        }

        max-width: 50%;
        padding-left: 50px;

        .prm_button:hover {
            transform: translateY(0px);
            background: linear-gradient(to right bottom, #212428, #16181c);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
        }
    }
}

.contact_container {
    .sec_title_fast {
        text-align: center;
    }

    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0px;

    .con_des {
        display: flex;
        justify-content: space-between;

        .con_des_card {
            color: $text-color;
            margin-top: 50px;
            max-width: 35%;
            box-sizing: border-box;
            padding-right: 50px;

            .img {
                overflow: hidden;
                @include border-radious(10px);

                img {
                    max-width: 100%;
                    @include border-radious(10px);
                }
            }

            .con_des_con {

                h3 {
                    line-height: 30px;
                    margin: 5px 0px;
                    font-weight: 500;
                    color: #C4CFDE;

                    a {
                        color: #c4cfde57;
                    }

                    a:hover {
                        color: #FF013E;
                        text-decoration: underline;
                    }
                }

                p {
                    font-size: 18px;
                }

                h1 {
                    color: #C4CFDE;
                    margin: 15px 0px;
                }
            }

            @include border-radious(10px);
            background: $box-color;
            box-shadow: $box_shdow;
            padding: 30px;
        }

        .con_des_card:hover {
            .img {
                img {
                    @include transform-scale(1.1);
                }
            }
        }
    }

    .form {

        margin-top: 50px;
        color: $text-color;
        margin-left: 50px;
        box-sizing: border-box;
        padding: 30px;
        background: $box-color;
        box-shadow: $box_shdow;
        width: 100%;
        max-width: 65%;

        form {
            .inp {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
            }

            input,
            textarea {
                margin-top: 15px;
                padding: 15px;
                @include border-radious(5px);
                border: 2px solid #191B1E;
                background-color: #191B1E;
                box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
            }

            input:focus,
            textarea:focus {
                outline: 2px solid #FF013E;
                box-shadow: none;
            }
        }

        .nam_fon {
            display: flex;
            justify-content: space-between;

            .nam {
                width: calc(50% - 2%);
                display: flex;
                flex-direction: column;
            }


        }
    }

}

.resume_container {
    padding: 100px 0px;
    max-width: 1280px;
    margin: 0 auto;

    .sec_title_fast {
        text-align: center;
    }

    .resume_content {
        display: flex;
        justify-content: space-between;
    }

    .edu,
    .Exp {

        width: 50%;
        margin-top: 80px;

        .sec_title_fast {
            text-align: left;

            .sec_main_head {
                font-size: 40px;
                box-sizing: border-box;

            }

        }

    }

    .edu {
        margin-right: 50px;
    }

    .Exp {
        margin-left: 50px;
    }

    .res_card {
        cursor: pointer;
        @include border-radious(10px);
        margin-top: 50px;
        padding: 30px;
        background-color: $box-color;
        box-shadow: $box_shdow;

        .desc {
            padding: 20px 0px;

            p {
                color: #c4cfde8e;
            }
        }

        .detail {
            border-bottom: 1px solid #16181c;
            padding-bottom: 30px;
            justify-content: space-between;
            display: flex;
            align-items: center;

            .title {
                h5 {
                    color: #c4cfde83;
                }

                h1 {
                    padding: 20px 0px;
                    margin-bottom: 5px;
                    color: #C4CFDE;
                    font-size: 25px;
                }

            }

            .rate {
                font-weight: 400;
                color: $golapi;
                background-color: $body-color;
                padding: 10px 15px;
                box-shadow: $box_shdow;
                cursor: pointer;
            }

        }
    }

    .res_card:hover {
        background: linear-gradient(to right bottom, #212428, #16181c);
    }


}

.profetionan_skills {
    display: flex;
    justify-content: space-between;

    .design_skill,
    .develop {
        width: 50%;
        margin-top: 80px;

        .sec_title_fast {
            text-align: left;

            .sec_main_head {
                font-size: 40px;
                box-sizing: border-box;

            }

        }
    }

    .design_skill {
        margin-right: 50px;
    }

    .develop {
        margin-left: 50px;
    }

    .skills {
        .skill_item {
            margin-top: 30px;

            .skill_det {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                color: #c4cfde80;
            }

            .skill_prg {
                margin-top: 20px;
                height: 8px;
                width: 100%;
                padding: 2px;

                @include border-radious(10px);
                background-color: #191b1e00;
                border: 2px solid #191b1e;
                box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;

                .prop_inner {
                    height: 8px;
                    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
                    @include border-radious(100px)
                }
            }
        }
    }
}


.testimonial_continer {

    .sec_title_fast {
        text-align: center;

    }

    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    .contain {
        display: flex;

        .con_des {
            max-width: 35%;

            display: flex;
            justify-content: space-between;

            .con_des_card {
                cursor: pointer;
                color: $text-color;
                margin-top: 50px;
                box-sizing: border-box;
                padding-right: 50px;

                .img {
                    overflow: hidden;
                    @include border-radious(10px);

                    img {
                        max-width: 100%;
                        @include border-radious(10px);
                    }
                }

                .con_des_con {
                    h5 {
                        font-weight: normal;
                        color: $golapi;
                    }

                    p {
                        color: #c4cfde67;
                        font-size: 14px;
                    }

                    h2 {
                        color: #C4CFDE;
                        margin-top: 18px;
                    }
                }

                @include border-radious(10px);
                background: $box-color;
                box-shadow: $box_shdow;
                padding: 30px;
            }

            .con_des_card:hover {
                .img {
                    img {
                        @include transform-scale(1.1);
                    }
                }
            }
        }

        .comment {
            margin-top: 30px;
            color: $text-color;
            margin-left: 50px;
            box-sizing: border-box;

            width: 100%;
            max-width: 65%;

            .cursor {
                display: flex;
                justify-content: space-between;

                .quto {
                    i {
                        font-size: 150px;
                        color: #16181c;
                    }
                }



                .buttons {
                    .btn_arow {
                        cursor: pointer;
                        margin-left: 10px;
                        padding: 20px;
                        background-color: $body-color;
                        border: none;
                        font-size: 20px;
                        color: #C4CFDE;
                        margin-top: 10px;
                        box-shadow: $box_shdow;
                        @include border-radious(5px);
                    }

                    .btn_arow:hover {
                        background: linear-gradient(to right bottom, #212428, #16181c);
                    }
                }

            }

            .res_card {
                cursor: pointer;
                @include border-radious(10px);
                margin-top: 50px;
                padding: 30px;
                background-color: $box-color;
                box-shadow: $box_shdow;

                .desc {
                    padding: 20px 0px;

                    p {
                        color: #c4cfde8e;
                    }
                }

                .detail {
                    border-bottom: 1px solid #16181c;
                    padding-bottom: 30px;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;

                    .title {
                        h4 {
                            font-weight: 400;
                            color: #c4cfded8;
                        }

                        h1 {
                            padding: 20px 0px;
                            margin-bottom: 5px;
                            color: #C4CFDE;
                            font-size: 25px;
                        }

                    }

                    .rate {
                        font-weight: 400;
                        color: gold;
                        background-color: $body-color;
                        padding: 15px 20px;
                        box-shadow: $box_shdow;
                        cursor: pointer;
                        font-size: 12px;

                        i {
                            margin-left: 2px;
                        }
                    }

                }
            }

        }
    }
}


.footer {

    margin-top: 150px;

    .foot_content {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .so_li {
            .prm_button {
                padding: 20px 25px;
                font-size: 20px;
            }

            .navbar_brend {
                a {
                    display: flex;
                    align-items: center;
                    font-size: 30px;
                    text-transform: uppercase;
                    color: white;
                    font-weight: bolder;

                    img {
                        @include border-radious(100px);
                        border: 3px solid rgb(255, 255, 255);
                        margin-right: 10px;
                        width: 50px;
                        height: 52px;
                    }
                }

            }

        }

        .usefull {
            h3 {
                color: $golapi;
            }

            ul {
                margin-top: 20px;

                li {
                    line-height: 35px;

                    a {
                        color: #C4CFDE;
                    }

                    a:hover {

                        color: $golapi;
                        text-decoration: underline;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .fo_copyright {
        margin: 0 auto;
        margin-top: 100px;
        max-width: 1280px;
        width: 100%;
        padding: 50px 0px;
        border-top: 1px solid #191B1E;

        p {
            text-align: center;

            a {
                color: $golapi;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}